/* === Global variables === */
:root {
    --trocabyte-default: #0E1348;
    --trocabyte-dark: #07092c;
    --white: #fff;
}

/* === Global === */
*, html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin-bottom: 100px;
    position: relative;
}

label {
    font-weight: 700;
}

input.btn-trocabyte {
    color: var(--white);
    background-color: var(--trocabyte-default);
    transition: background-color 0.3s;
}

input.btn-trocabyte:hover {
    color: var(--white);
    background-color: var(--trocabyte-dark);
    border-color: var(--trocabyte-dark);
}

.nav-item {
    font-weight: 700;
}

#delete-button {
    display: inline-block;
}

/* === Navigation bar === */
nav #navbar .navbar-brand img {
    height: 50px;
}

nav #navbar .nav-item .nav-link {
    color: var(--trocabyte-default);
    opacity: 0.75;
    transition: opacity 0.3s;
}

nav #navbar .nav-item .nav-link:hover {
    opacity: 1;
}

/* === Homepage === */
#search-container h1,
#user-container h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* === Footer === */
footer {
    color: var(--white);
    text-align: center;

    background-color: var(--trocabyte-default);
    width: 100%;
    padding: 30px;

    position: absolute;
    bottom: 0;
}

footer a {
    color: var(--white);
    font-weight: 700;
}
