/* === Global variables === */
:root {
    --trocabyte-main: #0E1348;
}

/* === Global === */
*, html, body {
    font-family: 'Roboto', sans-serif;
}

/* === Navigation bar === */
nav #navbar .navbar-brand {
    color: var(--trocabyte-main);
}

nav #navbar .nav-item .nav-link {
    color: var(--trocabyte-main);
    opacity: 0.75;
    transition: opacity 0.3s;
}

nav #navbar .nav-item .nav-link:hover {
    opacity: 1;
}
